
.announce
{
	position: relative;
	background: #36393f;
	border-color: #6633ff;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin: 80px 0 80px;
	padding: 15px;
	#box-shadow: 0 10px 15px hsl(39deg 100% 50% / 8%);
	transform: rotate(-1.5deg) scale(1.12);
	overflow: hidden;
	
	
}

.get-in-touch 
{
	background: #6633ff;
	color: white;
	padding: 10px 20px;
	border-radius: 12px;
	text-decoration: none;
	font-weight: bold;
	margin-left: 10px;
	transition:background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.myHeader img
{
	transform: rotate(-1.5deg);
	border-color: #6633ff;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin: 10 10 10 10;
	float: left;
	width: 100px;
	height: 100px;
}

.myHeader h1
{
	position: relative; top: 18px; left: 10px;
}
 
.skills-list
{
	column-count:2;
}	

.myH2
{
	font-size:40px;
}

.resettingBodyColor
{
	background-color:#111111;
}
/*######################################################*/
/*BLINKING Stuff : BEGIN*/
/*######################################################*/
.blinking {
	
	
	/*background-color: #ff007f;*/
	margin: 5px;
	
	margin-bottom:20%;
	
	-webkit-animation: 1s blink step-end infinite;
	
	-moz-animation: 1s blink step-end infinite;
	
	-ms-animation: 1s blink step-end infinite;
	
	-o-animation: 1s blink step-end infinite;
	
	animation: 1s blink step-end infinite;
}

/*.blinking {
  width: 0.65em;
  margin:5px;
  font-weight: 1000;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}*/

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
/*######################################################*/
/*BLINKING Stuff : END*/
/*######################################################*/
